* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.calculator-heading {
  font-size: 50px;
  color: #344CB7;
}

.calculator-body {
  width: 320px;
  background-color: #778da9;
  padding: 50px 5px;
  border-radius: 10px;
  box-shadow: 2px 7px 10px 2px black;
}

.display {
  width: 280px;

  .display-output {
    background-color: #e0e1dd;
    width: 100%;
    padding: 20px 10px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    overflow: hidden;
    text-align: end;
  }
}

.calculator-button {
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  padding: 10px 5px;
  width: 65px;
}

.equal-button {
  background-color: #fb8500;
}
